<section class="mat-typography">
  <div class="jumbotron text-center">
    <h1 class="mat-display-3">Recipe Vault</h1>
    <p class="mat-subheading-2">Find the latest and greatest recipes, or create your own and share with the world.</p>
    <a mat-raised-button color="accent">Get Started</a>
  </div>

</section>

<section class="mat-typography text-center" id="about">
  <div class="container">
    <h1>Welcome to RecipeVault!</h1>
    <div class="row">
      <div class="col my-auto">
        <p class="lead">Recipe Vault is a website where you can register
        for an account with ease, and then create and share recipes with other
        people around the world.  You can search through our database as well as like recipes
        for your ease of access.</p>
      </div>
      <div class="col">
        <img class="about-image" src="assets/images/chef.svg" />
      </div>
    </div>
  </div>

  <hr />
</section>

<section class="mat-typography text-center" id="features">
  <div class="container">
    <h1>Features</h1>

    <div class="row">
      <div class="col">
        <mat-card>
          <i class="material-icons">supervisor_account</i>
          <mat-card-title>Share</mat-card-title>
          <mat-card-subtitle>Share recipes with all of your friends and family.</mat-card-subtitle>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <i class="material-icons">search</i>
          <mat-card-title>Search</mat-card-title>
          <mat-card-subtitle>Search through our global database of recipes to find exactly what you're looking for.</mat-card-subtitle>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <i class="material-icons">create</i>
          <mat-card-title>Create</mat-card-title>
          <mat-card-subtitle>Create your masterpiece recipe, and share it with the world!</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</section>

